---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Oops ! This is not good." description="404 Error — this page was not found">
	<Hero title="503 - Internal Server Error." tagline="Must be a typo? Eh." />
</BaseLayout>
