---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Secret Route !!"
	description="This was not supposed to happen"
>
<div class="stack gap-20">
    <main class="wrapper secret">
        <h2>Congratulations ! You've just found a secret route !</h2>
        <br>
        <h6 style="text-align: center;">In the mean time, walk around just don't touch anything spooky. </p>
        <h4 style="text-align: center;"><code>&nbsp;Thanks ~ http://localhost:4321/secret/</code></h4>
    </main>
</div>
</BaseLayout>
